* {
  margin: 0;
  padding: 80;
  box-sizing: border-box;
}
body { 
  background-color: #c2b8a3;
  color: #5a5046;;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400px;
  align-items: center;
}

h1 {
  color: #5a5046;
  font-family: 'Pinyon Script', cursive;
  font-size: 9rem;
  font-weight: 400;
  /* margin-bottom: 5px; */
}

.logo {
  width: 250px;
  height: 250px;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  height: 40vh;
}

.right-side {
  flex: 1;
  color: #5a5046;
  border-radius: 8px;
  max-width: 300px;
  max-height: 600px;
  justify-content: end;
}

.left-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex: 1;
  max-width: 1500px;
  max-height: 650px;
  /* padding: 2rem; */
}